.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 40vh;
}

.panel-third {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  padding-top: 50px;
}